
<head>
   
    <link rel="stylesheet" href="usuario.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <button nbButton shape="rectangle" status="primary" (click)="logout()">Cerrar Sesion</button>
    </div>
    <section class="container flex text-center">
        <div class="columna">
            <h2>Plan Uno</h2>
            <p class="precio">{{'5000'|number}}</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A commodi quos cumque obcaecati ipsum non neque fugit eligendi laudantium, tempore culpa adipisci assumenda expedita officia eius aspernatur eaque hic quisquam?</p>
            <hr>
            <p>Lorem ipsum dolor<p>
            <p>Lorem ipsum dolor, sit amet consectetur</p>  
            <p>Lorem ipsum dolor</p> 
            <hr>
            

        </div>
        <div class="columna">
            <h2>Plan Dos</h2>
            <p class="precio">$600</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A commodi quos cumque obcaecati ipsum non neque fugit eligendi laudantium, tempore culpa adipisci assumenda expedita officia eius aspernatur eaque hic quisquam?</p>
            <hr>
            <p>Lorem ipsum dolor<p>
            <p>Lorem ipsum dolor, sit amet consectetur</p>  
            <p>Lorem ipsum dolor</p> 
            <hr>
           

        </div>
        <div class="columna">
            <h2>Plan Tres</h2>
            <p class="precio">$700</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A commodi quos cumque obcaecati ipsum non neque fugit eligendi laudantium, tempore culpa adipisci assumenda expedita officia eius aspernatur eaque hic quisquam?</p>
            <hr>
            <p>Lorem ipsum dolor<p>
            <p>Lorem ipsum dolor, sit amet consectetur</p>  
            <p>Lorem ipsum dolor</p> 
            <hr>
         

        </div>
        <div class="columna">
            <h2>Plan Cuatro</h2>
            <p class="precio">$800</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A commodi quos cumque obcaecati ipsum non neque fugit eligendi laudantium, tempore culpa adipisci assumenda expedita officia eius aspernatur eaque hic quisquam?</p>
            <hr>
            <p>Lorem ipsum dolor<p>
            <p>Lorem ipsum dolor, sit amet consectetur</p>  
            <p>Lorem ipsum dolor</p> 
            <hr>
            

        </div>
    </section>
</body>

